<header>
	Welcome
</header>
<h1>Login</h1>
	<form method= "POST" action="/tp">  
		<label>User_Name</label><br>
		<input type="text" name="User_Name">
		<br>
		<label>Password</label><br>
		<input type="Password" name="Password">
		
	<input type="submit" name="login">

	</form>


<%if(errors != undefined){ %>
    <ul>
    <% errors.forEach(function(error){ %>
    <li><%= error.msg %></li>
    <% }) %>
    </ul>
    <%}%>

<%if(error){ %>
    <ul>
    <li> Incorrect user name or password </li>
    </ul>
    <%}%>


<footer>
	da
</footer>