<header>
	Welcome
</header>
<h1>choose</h1>
	<form action="/register" method="get">
    <input type="submit" name="register" value="register">
</form>
	<form action="/login" method="get">
    <input type="submit" name="login" value = "login" >
</form>

</form>
	<form action="/view" method="get">
    <input type="submit" name="view" value = "view" >
</form>


<footer>
	da
</footer>